{% extends 'base.html' %}
<!-- 我是區塊分隔線 -->
{% block title %}
OOO的網站
{% endblock %} 
<!-- 我是區塊分隔線 -->
{% block titlemessage %}
  <h1>OOO的上課用Django示範網站</h1>
{% endblock %} 
<!-- 我是區塊分隔線 -->
{% block content %}
<table class="table table-striped">
  <tr>
    <th>編號</th>
    <th>主題</th>
    <th>張貼時間</th>
  </tr>
  {% for post in posts %}
  <tr>
    <td>{{ post.id }}</td>
    <td>
      <a href="/post/{{post.slug}}/">{{ post.title }}</a>
    </td>
    <td>{{ post.pub_date }}</td>
  </tr>
  {% endfor %}
</table>
本網頁被瀏覽了{{ hit_count }}次 
{% endblock %}
